<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="FMsalonEntities" connectionString="metadata=res://*/FMsalonModel.csdl|res://*/FMsalonModel.ssdl|res://*/FMsalonModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-DNHNIP7R;initial catalog=FMsalon;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="fmsalontestEntities" connectionString="metadata=res://*/salonModel.csdl|res://*/salonModel.ssdl|res://*/salonModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-A85RABB;initial catalog=salon;persist security info=True;user id=sa;password=271144;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>